/* Extra Small Devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .site-header {
    background-color: white !important;
    padding: 0;
    overflow: hidden;
  }

  .site-header>.container {
    max-width: 450px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .site-header.scrolled {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }

  .cal {
    margin-top: 20px;
  }

  .corner-arrow {
    position: absolute;
    top: 10px !important;
    right: 25px !important;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate(40px, -40px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .hel {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .sub {
    margin-top: 20px;
  }

  .banner__description {
    font-size: 16px;
  }

  .banner__title {
    font-size: 36px;
  }

  .contact-scale {}
}

/* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .site-header.scrolled {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }

  .site-header {
    background-color: white !important;
    border-radius: 50px;
    padding: 0;
    overflow: hidden;
    margin: 10px 10px 10px 10px;
  }

  .site-header>.container {
    margin-left: px;
    max-width: 600px;
  }

  .section-heading .description {
    text-align: justify;
  }

  .cal {
    margin-top: 30px;
  }

  .corner-arrow {
    position: absolute;
    top: 15px;
    right: 150px !important;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate(40px, -40px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .hel {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  .contact-scale {}
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .site-header {
    color: white !important;
    background-color: white;
    width: 90%;
    margin: 20px 80px;
    border-radius: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .site-header.scrolled {
    width: 90%;
  }

  .product-scale {
    scale: 0.9;
  }

  .contact-scale {}
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .site-header {
    color: white !important;
    background-color: white;
    width: 90%;
    margin: 10px 80px;
    border-radius: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .cal {
    margin-bottom: 25px;
  }

  .site-header.scrolled {
    width: 90%;
  }

  .slider-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .banner-scale {
    scale: 0.7;
  }

  .banner__content {
    margin-top: 115px;
    scale: 0.8;
  }

  .blog-scale {
    scale: 0.9;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .site-header.dark .navbar-nav .nav-item .nav-link {
    font-size: 12px !important;
  }

  .contact-scale {
    max-width: 1080px !important;
    scale: 0.7;
  }

  .contact-section .section-header .section-title {
    margin-top: -100px;
  }

  .product-scale {
    scale: 0.9;
  }

  .compact-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  .site-header {
    color: white !important;
    background-color: white;
    width: 90%;
    margin: 20px 80px;
    border-radius: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .cal {
    margin-bottom: 25px;
  }

  .site-header.scrolled {
    width: 90%;
  }

  .slider-nav {
    margin-left: auto;
  }

  .blog-scale {
    scale: 0.8;
  }

  .banner__content {
    margin-top: 145px;
    scale: 0.9;
  }

  .site-header.dark .navbar-nav .nav-item .nav-link {
    margin-right: 15px !important;
  }

  .contact-scale {
    scale: 0.8;
  }

  .product-scale {
    scale: 0.8;
  }

  .compact-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px !important;
  }
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1250px) and (max-width: 1399.98px) {
  .site-header {
    color: white !important;
    background-color: white;
    width: 90%;
    margin: 20px 80px;
    border-radius: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .cal {
    margin-bottom: 25px;
  }

  .site-header.scrolled {
    width: 90%;
  }

  .slider-nav {
    margin-left: auto;
  }

  .blog-scale {
    scale: 0.9;
  }

  .contact-scale {
    scale: 0.8;
  }

  .product-scale {
    scale: 0.9;
  }

  .compact-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px !important;
  }
}

/* Extra Extra Large Devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
  .site-header {
    color: white !important;
    background-color: white;
    width: 85%;
    margin: 15px 125px;
    border-radius: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .cal {
    margin-bottom: 25px;
  }

  .site-header.scrolled {
    width: 85%;
    /* margin-right: auto !important; */
    /* margin-left: auto; */
    margin-left: 125px;
  }

  .slider-nav {
    margin-left: auto;
  }

  .contact-scale {
    scale: 0.9;
  }

  .product-scale {
    scale: 0.9;
  }

  .compact-card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px !important;
  }
}